{%- if page.nav == "about" -%}
{%- unless page.url == "/about" -%}<a href="/about" title="About">About</a>{%- endunless -%}
<a href="/now" title="Now Page">Now</a>
<!--{%- unless page.url == "/uses" -%}<a href="/uses" title="What I Use">Uses</a>{%- endunless -%}-->
{%- unless page.url == "/portfolio" -%}<a href="/portfolio" title="Portfolio">Portfolio</a>{%- endunless -%}
{%- endif -%}

{%- if page.nav == "portfolio" -%}
<a href="/" title="Derek Kedziora" rel="author" class="author-link">Derek Kedziora</a>
<a href="/cv" title="My CV">Résumé</a>
{%- endif -%}

{%- if page.nav == "blog" -%}
{%- if page.url == "/blog" -%}<span class="nav-current-page">Essays</span>
{%- else -%}<a href="/blog" title="Essays">Essays</a>{%- endif -%}
{%- if page.url == "/stream" -%}<span class="nav-current-page">Stream</span>
{%- else -%}<a href="/stream" title="Stream">Stream</a>{%- endif -%}
{%- if page.url == "/blog/all" -%}<span class="nav-current-page">All</span>
{%- else -%}<a href="/blog/all" title="Tags">All</a>{%- endif -%}
{%- if page.url == "/blog/tags" -%}<span class="nav-current-page">Tags</span>
{%- else -%}<a href="/blog/tags" title="Tags">Tags</a>{%- endif -%}
<a href="/blog/random" title="Random">Random</a>
{%- endif -%}