
<article class="stream-article">

<h2 id="{{post.url | remove_first: "/stream/"}}" {% if post == site.categories.stream[0] %}style="padding-top: 0;"{% endif %}>{{ post.title }}</h2>

{{ post.content }}

{%- if post.tags[0] -%}
<aside class="post-tagged"><p>Tagged:&emsp;
	{% for tag in post.tags %}
	<a href="/blog/tags#{{tag}}">{{tag}}</a> 
	{% endfor %}
</p></aside>
{%- endif -%}

<p class="stream-date internal-link"><a href="{{post.url}}" class="internal-link"><time datetime="{{ postDate | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time></a>{%- unless post == site.categories.stream[0] -%}&nbsp;|&nbsp;<a href="#">Top of page&nbsp;&#8593;</a>{%- endunless -%}</p>

</article>
